*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
/upload-bca/
/assets/upload/
/assets/limbah/
/server-status/
/ekatalog/
/assets/upload_kaizen/
/assets/database/
/assets/upload-bca/
/assets/upload_cr/
/assets_backup/
/info.php
/trial/
/aplikasi/
/assets/generated/
/assets/img/
/img/
/portal-karyawan/
/presensi_cabang/
/quick-support-system/
/approval-izin-satpam/
/covid19/
/cronjob/
/ekatalog-13032019/
/pendataan/
/perizinan/
/rencana-lembur/
/testfile.txt
/trial_penggajian_dev/
/assets/img/
/assets/limbah/
/application/third_party/
/assets/upload_kaizen/
/assets/upload_flow_process/
update_aplikasi.txt
/perizinan-pribadi/
/Sistem-Pelaporan-Document/
/assets/covid19/jawa.json
/assets/img/foto/*